@keyframes gearAnimation{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes gearAnimation{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
header{
	background: #333;
	box-shadow: 0 0 5px rgba(0,0,0,0.75);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
	color: whiteSmoke;
	max-height: 40px;
	margin: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 24;
	.logo{
		display: inline-block;
		position: relative;
		a{
			color: whiteSmoke;
			display: inline-block;
			font-size: 25px;
			color: whiteSmoke;
			position: relative;
			left: 10px;
			line-height: 25px;
			text-decoration: none;
			-webkit-transition: all 0.25s;
			   -moz-transition: all 0.25s;
				 -o-transition: all 0.25s;
				-ms-transition: all 0.25s;
					transition: all 0.25s;
			&:hover{
				left: 30px;
			}
		}
	}
	.user{
		display: inline-block;
		margin: 0 10px;
		position: absolute;
		right: 0;
		text-align: right;
		.user_name{
			bottom: 2px;
			display: inline-block;
			font-size: 16px;
			font-weight: normal;
			padding: 0 10px;
			position: relative;
		}
		.user_actions{
			height: 40px;
			bottom: 10px;
			display: inline-block;
			font-size: 25px;
			line-height: 25px;
			padding: 0 10px;
			position: relative;
			&:hover, &.active{
				background: whiteSmoke;
				color: #333;
				cursor: pointer;
				.user_actions_icon{
					-webkit-animation: gearAnimation 2s infinite;
							animation: gearAnimation 2s infinite;
				}
			}
			.user_actions_icon{
				display: block;
				position: relative;
				top: 10px;
			}
		}
	}
}
.dropmenu{
	background: whiteSmoke;
	color: hsl(0, 0, 35%);
	display: none;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0px;
	width: 160px;
	z-index: 25;
	&.active{
		display: block;
		box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	}
	.user_list{
		padding: 10px 10px 20px 10px;
		img{
			background: whiteSmoke;
			border-radius: 50%;
			box-shadow: 0 0 0 3px #595959;
			float: left;
			height: 45px;
			margin-right: 20px;
			margin-bottom: 10px;
			border: 1px solid whitesmoke;
			width: 45px;
		}
		.user_list_name{
			display: block;
			font-weight: normal;
		}
		.user_list_lastname{
			display: block;
			font-weight: bold;
		}
	}
	li{
		border-bottom: 1px solid #c9c9c9;
		border-top: 1px solid white;
		box-shadow: 0 1px 0 white;
		display: block;
		padding: 10px;
		&:last-of-type{
			border-bottom: none;
			box-shadow: none;
		}
		a{
			color: #333;
		}
		&:hover{
			background: #333;
			border-bottom: 1px solid #222;
			border-top: 1px solid #444;
			a{
				color: whiteSmoke;
				text-decoration: none;
			}
		}
	}
}