form#new_task{
	margin: 0;
	padding: 0 20px;
	width: 80%;
	#new_task_title{
		display: block;
		width: -webkit-calc(~"70% + 18px");
		width:    -moz-calc(~"70% + 18px");
		width:      -o-calc(~"70% + 18px");
		width: 		   calc(~"70% + 18px");
	}
	#new_task_assignTo{
		width: 35%;
	}
	#new_task_deadline{
		width: 35%;
	}
}