<template name="aside">
	<aside>
		<div class="aside_upper">
			<span class="aside_upper_logo cicon">b</span>
			<span class="aside_upper_location">{{location}}, </span>
			<span class="aside_upper_date">{{date}}</span>
		</div>
		<ul class="client_list">
		{{#each clients}}
			<li class="client_list_header"><span class="cicon">d</span><span class="client_list_header_name">{{name}}</span> <a class="aside_edit_client" href="/edit/client/{{_id}}">Edit</a></li>
			{{#each projects}}
				<li class="client_list_items"><a href="/project/{{_id}}">{{name}}</a></li>
			{{/each}}
			<li class="client_list_items last"><a href="/new/project/{{_id}}">Añadir Proyecto</a></li>
		{{/each}}
		</ul>
		<div class="aside_user_list">
			<ul>
			{{#each user_list}}
				<li>
					{{#with profile}}
						{{#if image}}
							<img src="{{image}}">
						{{else}}
							<img src="/img/default-avatar.jpg">
						{{/if}}
						<span class="user_list_name">{{name}}</span>
						<span class="user_list_lastname">{{lastname}}</span>
					{{/with}}
				</li>
			{{/each}}
			</ul>
		</div>
	</aside>
</template>