<template name="header">
	<header>
		<section class="logo">
			<a href="/" class="cicon">c</a>	
		</section>
		<section class="user">
			<span class="user_name">{{currentUser.profile.name}} {{currentUser.profile.lastname}}</span>
			<div class="user_actions">
				<span class="user_actions_icon cicon">f</span>
			</div>
		</section>
	</header>
	<ul class="dropmenu">
		<li>{{currentUser.profile.name}} {{currentUser.profile.lastname}}</li>
		{{#if true}}
		<li><a href="/new/client">Add New Client</a></li>
		{{/if}}
		<li><a href="/edit/user">Edit Profile</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</template>