<template name="new_task">
	<div class="new_task_left_side">
		<img class="profile_userInfo_img" src="/img/default-avatar.jpg">
	</div>
	<form id="new_task">
		<fieldset>
			<legend>Nueva tarea</legend>
			<input class="" id="new_task_title" placeholder="Titulo de la nueva tarea" type="text" required>
			<input class="" id="new_task_assignTo" placeholder="Asignar a..." type="text" autocomplete="off" data-provide="typeahead">
			<input class="" id="new_task_deadline" placeholder="Fecha limite?" type="text">
		</fieldset>
	</form>
</template>