<template name="new_task">
	<form id="new_task">
		<fieldset>
			<legend>New Task</legend>
			<input class="" id="new_task_title" placeholder="Task name.." type="text" required>
			<input class="" id="new_task_assignTo" placeholder="Assign to.." type="text" autocomplete="off" data-provide="typeahead">
			<input class="" id="new_task_deadline" placeholder="Deadline?" type="text">
			<input type="submit" class="cicon" value="e" title="Save" style="vertical-align: top;">
		</fieldset>
	</form>
</template>