<template name="new_project">		
		<form id="new_project" action="">
			<h3>New project</h3>
			<fieldset>
				<label for="new_project_name">Project name</label>
				<input id="new_project_name" placeholder="Project name..." type="text">
				<label for="new_project_deadline">Deadline</label>
				<input id="new_project_deadline" placeholder="Is there a deadline?" type="text">
				<input type="submit" class="cicon" value="e" title="Save" style="vertical-align: top;">
			</fieldset>
		</form>
</template>