<template name="new_user">
	<div class="new_user">
		<div class="new_user_icon cicon">d</div>
		<div class="new_user_form">
			<input type="text" id="new_user_email" placeholder="email" required>
			<input type="password" id="new_user_password" placeholder="contraseña" required>
			<input type="text" id="new_user_name" placeholder="nombre" required>
			<input type="text" id="new_user_lastname" placeholder="apellido" required>
		</div>
		<a href="#" class="new_user_register">registrarme!</a>
	</div>
</template>