<template name="profile">
	<div id="profile" role="main">
		<div class="profile_userInfo">
			<img class="profile_userInfo_img" src="/img/default-avatar.jpg">
			<span class="profile_userInfo_name">{{currentUser.profile.name}}</span> <span class="profile_userInfo_lastname">{{currentUser.profile.lastname}}</span>
		</div>
		<div class="profile_userStats">
			<span class="profile_userStats_tasksPending"><span>{{pendingTasks}}</span> tareas pendientes</span>
			<span class="profile_userStats_tasksFinished"><span>{{doneTasks}}}</span> tareas terminadas</span>
			<span class="profile_userStats_projectClosed"><span>{{doneProjects}}</span> proyectos terminados</span>
		</div>
	</div>
</template>