<template name="task">
	<li class="task {{#if completed}}task_done{{/if}}">
		<span class="task_title">{{title}}</span>
		<div class="task_assigned_users">
			<div class="task_user_createdBy">
				{{#if createdBy}}
				<img scr="{{createdBy.profile.image}}" title="Creado por {{createdBy.profile.name}} {{createdBy.profile.lastname}}">
				{{/if}}
			</div>
			<div class="task_user_assignedTo">
				{{#if assignedTo}}
				<img scr="{{assignedTo.profile.image}}" title="Creado por {{assignedTo.profile.name}} {{assignedTo.profile.lastname}}">
				{{/if}}
			</div>
		</div>
		<div class="task_actions">
			<div class="task_action show_details" style="display: inline-block;">
				<a href="/task/{{_id}}" class="cicon" title="Ver detalles">h</a>
			</div>
			<div class="task_action delete recycle-bin" title="Borrar">
				<div class="rb-top-w"></div>
				<div class="rb-bottom-w"></div>
			</div>
		</div>
		<div class="task_dates" title="Creado el {{date}}">
			{{date}}
		</div>
		<div class="mark_toggler">
		{{#if completed}}
			<a class="task_action mark_undone" href="javascript:void(0)">abrir?</a>
		{{else}}
			<a class="task_action mark_done" href="javascript:void(0)">cerrar?</a>
		{{/if}}
		</div>
	</li>
</template>