<template name="tasks">
	<div class="tasks_header">
		<span class="tasks_title">{{project_name}}</span>
		<div class="tasks_dates">
			<span class="tasks_dates_createdAt">{{createdAt}}</span>
			<span class="tasks_dates_deadline">{{deadline}}</span>
		</div>
		{{#if dueDate}}
		<div class="tasks_dueDate">
			<div><span>{{dueDate.weeks}}</span>WEEKS</div>
			<div><b>&amp;</b><span>{{dueDate.days}}</span>DAYS</div>
		</div>
		{{/if}}
		<div class="tasks_actions">
			<a class="edit_project cicon" href="/edit/project/{{_id}}">j</a>
			<div class="delete recycle-bin" title="Delete">
				<div class="rb-top"></div>
				<div class="rb-bottom"></div>
			</div>
		</div>
	</div>
	{{#if allDone}}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>¡Awesome!</h4>
			All tasks are finished here. ¿Do you wish to close the project?
		</div>
	{{/if}}
	<ul class="tasks">
		{{#each tasks}}
			{{> task}}
		{{/each}}
	</ul>
</template>