<template name="Chat_window">
	<div class="chat_window {{opened}}">
		<h4 class="chat_window_title">{{title}}</h4>
		<div class="chat_window_messages">
			{{#each messages}}
			<div class="chat_window_message">
				{{#if createdBySelfUser}}
					<div class="chat_window_message_text createdBySelfUser">
						<span class="">&#9658;</span>
						<span class="">{{text}}</span>
					</div>
				{{else}}
					<div class="chat_window_message_text">
						<span>{{text}}</span>
					</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
		{{#constant}}
		<form class="chat_window_new">
			<textarea class="chat_window_new_text" placeholder="escribir..." rows="2"></textarea>
		</form>
		{{/constant}}
	</div>
</template>