<template name="Modal_edit_project">
	<div id="Modal_edit_project" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Editar proyecto</h3>
			<p>Created on <span title="{{edit_project_createdAtAgo}}">{{edit_project_createdAt}}</span> by {{edit_project_createdBy}}</p>
		</div>
		<div class="modal-body">

			<form id="edit_client" action="">
				<fieldset>
					<div>
						<input id="edit_project_name" placeholder="Project name" type="text" value="{{edit_project_name}}">
					</div>
					<div>
						<input id="edit_project_deadline" placeholder="Deadline" type="text" value="{{edit_project_deadline}}">
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<a id="edit_project_cancel" href="#" class="btn modal-cancel">Cancelar</a>
			<a id="edit_project_save" href="#" class="btn btn-primary">Guardar</a>
		</div>
	</div>
</template>