<template name="Modal_task_details">
	<div id="Modal_task_details" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>{{task_title}}</h3>
		</div>
		<div class="modal-body">
			{{#each comments}}
				<div cass="">
					{{createdBy}}<span>{{text}}</span>
				</div>
			{{/each}}
		</div>
		<div class="modal-footer">
			<input class="task_details_new_comment_text input-xlarge" type="text" style="vertical-align: top;">
			<button class="task_details_new_comment_save btn btn-primary">Enviar</button>
		</div>
	</div>
</template>